.form {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
  .input {
    --tw-bg-opacity: 1;
    background-color: rgb(60 60 60 / var(--tw-bg-opacity));
    &:focus {
      box-shadow: 0px 1px 20px 0px #5c4bf6;
      border-color: #5c4bf6;
    }
  }
}
.btnHover {
  box-shadow: 0px 1px 8px 0px #5c4bf6;
  &:hover {
    box-shadow: 0px 1px 20px 0px #5c4bf6;
  }
}
