.logo {
  background: linear-gradient(
      90deg,
      #f860d8 0.06%,
      #5c4bf6 50.73%,
      #45bcff 100.06%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.menuList:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(17 24 39 / var(--tw-bg-opacity))
    transparent;
}
.navLink:hover {
  background: linear-gradient(
      90deg,
      #f860d8 0.06%,
      #5c4bf6 50.73%,
      #45bcff 100.06%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.active {
  background: linear-gradient(
      90deg,
      #f860d8 0.06%,
      #5c4bf6 50.73%,
      #45bcff 100.06%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  color: transparent !important;
}
