@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  background-color: #0e0e11;
}
::-webkit-scrollbar-track {
  background-color: #0e0e11;
}
::-webkit-scrollbar-thumb {
  background-color: #262627;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e0e11;
  color: rgba(255, 255, 255, 1);
}
a {
  text-decoration: inherit;
}
button {
  outline: none;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linearColor {
  background: linear-gradient(
      90deg,
      #f860d8 0.06%,
      #5c4bf6 50.73%,
      #45bcff 100.06%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.linearTitle {
  background: linear-gradient(
      90deg,
      #f860d8 0.06%,
      #5c4bf6 50.73%,
      #45bcff 100.06%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}
.linearBg {
  background: linear-gradient(90deg, #5c4bf6 50.73%, #45bcff 100.06%),
    linear-gradient(0deg, #ffffff, #ffffff);
}
.cardGradient {
  background: linear-gradient(to right, #0f0c29, #0f0c29, #0f0c29);
}

.btnPrimary {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.btnSecondry {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
  border-width: 1px;
}
.btnPrimary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(92 75 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btnSecondry:hover {
  --tw-bg-opacity: 1;
  color: rgb(92 75 246 / var(--tw-bg-opacity));
  border-color: rgb(92 75 246 / var(--tw-bg-opacity));
}

.loaded {
  filter: blur(0);
}
.loading {
  filter: blur(8px);
}
.header {
  transform: translateY(0);
  transition: all ease 0.5s;
  z-index: 50;
  &.top {
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background-color: #0e0e113d;
  }
  &.show {
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(3.5px);
    background-color: #0e0e113d;
  }
  &.hide {
    backdrop-filter: blur(6.5px);
    transform: translateY(-90px);
    background: rgba(0, 0, 0, 0.25);
  }
}
